@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <body style="background-color:midnightblue">
    </body>
<div class="text-center">
    <h1 class="display-4">Welcome to the  candy shop</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  
    
    <h1>jaw breaker </h1>
    <p>.25 
     </p>
    <img src="http://cdn.shopify.com/s/files/1/0972/7116/products/all-city-candy-jaw-busters-jawbreaker-candy-small-3-lb-bulk-bag-bulk-wrapped-ferrara-candy-company-default-title-259357_600x.jpg?v=1557241812" width="400" height="400" alt="lol" />
    <h2>snikers</h2>
    <p> .50
    </p>
    <img src="http://cdn.shopify.com/s/files/1/0972/7116/products/all-city-candy-snickers-peanut-butter-candy-bar-178-oz-candy-bars-mars-chocolate-681780_600x.jpg?v=1557244225" width="400" height="400" alt="yummy" />
    <section>
        <h1>cart</h1>
        <p>
            <img src="https://www.logoground.com/uploads/20143327656carshop.jpg" width="200" height="200" alt="done with purchaces" />
        </p>
       
    </section>
</div>